{% extends 'base.html.twig' %}

{% block body %}

<div class="content">

    <div class="catched">
        <h3>Catched Moviemons</h3>
        <ul>
            {% for movie in catched %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="center">

    <button class="menu-button"><a href="/moviedex">Moviedex</a></button>

    <button class="menu-button"><a href="/">Menu</a></button>

        <div class="map">
            {% for row in map %}
                <div class="row">

                    {% for cell in row %}

                        <div class="{% if cell == 'L' %}player-cell{% else %}cell{% endif %}"> {{ cell }} </div>

                    {% endfor %}

                </div>
            {% endfor %}
        </div>

        <div class="controls">
            <div></div>
            <button><a href="/move/up">⬆️</a></button>
            <div></div>
            <button><a href="/move/left">⬅️</a></button>
            <button><a href="/move/down">⬇️</a></button>
            <button><a href="/move/right">➡️</a></button>
        </div>


    </div>

    <div class="remaining">
        <h3>Remaining Moviemons</h3>
        <ul>
            {% for movie in catchable %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}