{# templates/main_menu.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="menu">
    <form action="{{ path('new') }}" method="POST">
        <label for="player_name">Enter Player Name:</label>
        <input type="text" id="player_name" name="player_name" required>
        <button type="submit">Start New Game</button>
    </form>

    {% if fromOverworld %}
        <p><a href="{{ path('save') }}">Save Game</a></p>
    {% else %}
        <p><a href="#">Save Game</a></p>
    {% endif %}

    <p><a href="{{ path('load') }}">Load Game</a><p>

    {% if fromOverworld %}
    <p><a href="{{ path('overworld') }}">Cancel</a></p>
    {% endif %}
</div>
{% endblock %}

