body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    text-align: center;
}

/* .map {
    background-color: green;
} */

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    height: 64px;
    width: 64px;
    border: 1px solid black;
    text-align: center;
    /* align-items: center; */
    background-color: green;
}

.player-cell {
    height: 64px;
    width: 64px;
    border: 1px solid black;
    text-align: center;
    background-color: red;
}

.menu-button {
    margin-bottom: 2em;
}

.controls { 
    display: grid; 
    grid-template-columns: 50px 50px 50px; 
    width: 150px; 
    margin: 100px auto;
}
    
.controls button { 
    height: 50px; 
}